/HokieTalentPool/nbproject/private/
/HokieTalentPool/build/
/HokieTalentPool/dist/
/HokieTalentPool/HokieTalentPool/web/WEB-INF/glassfish-resources.xml
/HokieTalentPool/HokieTalentPool/src/conf/persistence.xml
